.App {
  background-color: #282c34;
  color: white;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .App {
    min-height: 100vh;
    min-width: 100vw;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .App {
    min-height: 100vh;
    min-width: 100vw;
  }
}

/* For Computers */
@media screen and (min-width: 780px) {
  .App {
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
